body{
  font-family: Helvetica;
}

h1{
  font-size: 100px;
  font-weight: :bold;
  color: Khaki;
  text-align: center;
  background-image: url("pattern.jpg");
}

h2{
  font-size: 32px;
  font-weight: bold;
  color: White;
}

p span{
  font-weight: bold;
  color: blue;
}

.green{
  background-color: mediumspringgreen;
}

.red{
  background-color: lightcoral;
}

.blue{
  background-color: skyblue;
}
